<h2>Retrieve Username</h2>

<% if @messages != nil %>
  <% @messages.each do |msg| %>
    <h2><%= msg %></h2>
  <% end %>
<% end %>

<div class="display">
  <p>Enter your Email address:</p>
  <%= form_tag("/retrieve", method: "post") do %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Get your username") %>
  <% end %>
</div>