<h2>Edit a Patron</h2>

<div class="display">
  
  <% @object.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  
  <div class="new_form">
    <%= form_for @object do |f| %>
      <%= f.label "first_name" %>
      <%= f.text_field("first_name") %><br>
  
      <%= f.label "last_name" %>
      <%= f.text_field("last_name") %><br>
      
      <%= f.label "email" %>
      <%= f.text_field("email") %><br>
  
      <%= f.label "username" %>
      <%= f.text_field("username") %><br>
      <p>Note: leave this blank if you don't want to change your password.</p>
      <%= f.label "password", "Password" %>
      <%= f.password_field("password") %><br>
  
      <%= f.submit "Update This!"%>
    <% end %>
    <%= link_to "Change your password", "/patrons#{@object.id}/password", :class => "form_button" %><br>
    <%= link_to "Delete This!", "/patrons/#{@object.id}", :class => "form_button", method: :delete, :data => {:confirm => "Are You Sure?"} %>
  </div>
</div>