<h2>Create a new Patron</h2>

<div class="display">
  
  <% @object.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  
  <div class="new_form">
    <%= form_for @object do |f| %>
      <%= f.label "first_name" %>
      <%= f.text_field("first_name") %><br>
  
      <%= f.label "last_name" %>
      <%= f.text_field("last_name") %><br>
  
      <%= f.label "username" %>
      <%= f.text_field("username") %><br>
  
      <%= f.label "password" %>
      <%= f.password_field("password") %><br>
  
      <%= f.submit "Add This!"%>
    <% end %>
  </div>
</div>