<h2>Edit a Drink</h2>

<div class="display">
  
  <% @object.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  
  <div class="new_form">
    <%= form_for @object do |f| %>
      <%= f.label "name" %>
      <%= f.text_field("name") %><br>
  
      <%= f.label "category" %>
      <%= f.text_field("category") %><br>
  
      <%= f.label "description" %>
      <%= f.text_field("description") %><br>
  
      <%= f.label "event_id" %>
      <%= f.text_field("event_id") %><br>
  
      <%= f.submit "Update This!"%>
    <% end %>
    <%= link_to "Delete This!", "/drinks/#{@object.id}", :class => "form_button", method: :delete, :data => {:confirm => "Are You Sure?"} %>
  </div>
</div>