<h2>Edit a Film</h2>

<div class="display">
  
  <% @object.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  
  <div class="new_form">
    <%= form_for @object do |f| %>
      <%= f.label "title" %>
      <%= f.text_field("title") %><br>
  
      <%= f.label "year" %>
      <%= f.text_field("year") %><br>
  
      <%= f.label "length" %>
      <%= f.text_field("length") %><br>
  
      <%= f.label "synopsis" %>
      <%= f.text_field("synopsis") %><br>
      
      <%= f.label "trailer" %>
      <%= f.text_field("trailer") %><br>
      
      <%= f.label "rt_rating" %>
      <%= f.text_field("rt_rating") %><br>
  
      <%= f.submit "Update This!"%>
      
    <% end %>
    <%= link_to "Delete This!", "/films/#{@object.id}", :class => "form_button", method: :delete, :data => {:confirm => "Are You Sure?"} %>
  </div>
</div>