<a name="top"></a>
<h2>Create a new film...</h2>


<div class="block1">
  <p>RottenTomatoes.com is a vast trove of data.  Broad searches can reveal hundreds of results.  This has been restricted to the top 20.</p>
</div>


<div class="block1">
  <form action="/films/0/search_rt">
    <select name="search_by">
      <option value="title">Title</option>
    </select>
    <input type="text" name="search">
    <input type="submit" value="Search">
  </form>
</div>

<% if @results.count != 0 %>
  <% @results.each do |object| %>
    <div class="display">
      <%= form_tag("/films/new", method: "get") do %>
        <div class="rotten_results">
          <p>Title: <%= object.title %></p>
            <%= hidden_field_tag("title", "#{object.title}") %>
          <p>Year: <%= object.year %></p>
            <%= hidden_field_tag("year", "#{object.year}") %>
          <p>Length: <%= object.length %> min</p>
            <%= hidden_field_tag("length", "#{object.length}") %>
          <p>Plot Synopsis: <%= object.synopsis %></p>
            <%= hidden_field_tag("synopsis", "#{object.synopsis}") %>
          <p>Rotten/Fresh Rating: <%= object.rt_rating %></p>
            <%= hidden_field_tag("rt_rating", "#{object.rt_rating}") %>
            <%= submit_tag "This One!"%>
        </div>
        <div class="movie_thumb">
          <img src="<%= @thumbs[@results.find_index(object)] %>" alt="poster thumbnail" height="100" width="67">
        </div>
      <% end %>
    </div>
  <% end %>
  <a href="#top">Back to top</a>
<% end %>

<% if @no_results == true %>
  <div class="block1">
    <p>No results matched your search!<p>
  </div>
<% end %>